@tailwind base;
@tailwind components;
@tailwind utilities;




.bannerContainer {
  background-image: url(./assets/Images/Poster5.png);
  @apply h-[90vh]  bg-cover
}

.banner2 {
  background-image: url(./assets/Images/Poster5.png);
  background-repeat: no-repeat;
 background-size: cover;
 height: 20rem;
 width: 100%;
}

.l {
  right: .6rem;
  padding-top: .5rem;
}

.ab {
  position: absolute;
  top: 2rem;
  z-index: 200;
  right: 2rem;
  background-color: rgba(0 , 0, 0, 0.4);
}


.ab:hover {
  background-color: rgb(92, 4, 4);
  transition: .4s  ease-in-out;
}

.movieDetailContainer {
  position: relative;
  padding: 2rem 2rem;
  
}
.movieDetailContainer2{
  position: relative;
  padding: 2rem 0rem;
  
}

.movieBackdrop {
  width: 100%; 
  max-height: 400px; 
  object-fit: cover; 
  border-radius: 30px;

}
.movieBackdrop2 {
  width: 100%; 
  max-height: 250px; 
  object-fit: cover; 
 
  border-radius: 10px;

}
.movieTextOverlay {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
}

aside {
  border-radius: 0px 30px 30px 0px;
}


.linkA {
  
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 1.6rem;
  border-right: 7px solid rgb(133, 17, 48);
 }


 .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 }


 .side {
  
  left: -40rem;
  transition: .4s ease;
}

.side.active {
  /* This shows the sidebar when the 'active' class is added */
  left: 0rem;
}


.play {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0 , 0, 0, 0.6);
}

 